.status-flex {
  display: flex;
  margin-left: 30px;
  margin-bottom:45px ;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: 0.6px solid #ccc;
}

.custom-footer {
  background-color: #123456; 
}

.no-orders-found
{
  min-height: 220px;
  
  display: flex;
  justify-content: center;
  align-items: center;
 color: grey;
}

