.footer {
  padding: 1rem 6rem;
  background-color: #778138;
  color: white;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
}
.top .left-section {
  margin-right: 2rem;
  margin-top: 1rem;
}

.rightsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top i {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}

.top i:hover {
  color: #d3e55c;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottom .location,
.bottom .phone,
.bottom .email {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.bottom i {
  margin-right: 5px;
}

.aboutcompany {
  max-width: 300px;
}

.aboutcompany p,
h3 {
  margin: 10px;
}

.companyicons {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.copyright {
  color: #2b2c2c;
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 860px) {
  .footer {
    padding: 2rem;
  }

  .top {
    flex-direction: column;
    align-items: flex-start;
  }
  .aboutcompany {
    max-width: 100%;
    margin-top: 2rem;
  }
  .top .leftsection {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .companyicons {
    margin-top: 1rem;
  }
  .copyright {
    margin-top: 2rem;
  }
}
